<aside id="sidebar">

    <a href="https://groups.google.com/forum/?fromgroups#!forum/php-fig" class="button"  id="mailing-list-button" target="_blank">
        <small>Entre em contato pelo</small>
        IRC
    </a>

    <a href="docs/2.x/docs.pdf" class="button">
        <small>Confira a</small>
        Documentação
    </a>

    <a href="docs/2.x/api" class="button">
        <small>Estude a</small>
        API
    </a>

    <a href="https://github.com/LellysInformatica/EasyFramework/zipball/master" class="button">
        <small>Download</small>
        arquivo .zip
    </a>
    <a href="https://github.com/LellysInformatica/EasyFramework/tarball/master" class="button">
        <small>Download</small>
        arquivo .tar.gz
    </a>

</aside>
